# .gitignore
/Quests
/Quest
/ServantData
/outputs
output.txt
test.txt
.env
__pycache__
__pycache__/
.vscode
env
MiscJsons/
MysticCodes/
Jenkinsfile
script.log
templistofmulticorefarmers.py
tests.txt
whattoaskJeeves.md
tests.txt
scripts/git_pull_push.yaml